#local python cache 
__pycache__
.ipynb_checkpoints
utils-checkpoint.py
*.pth
*.onnx
analysis_mva/ffs/
ditau_id/training_var_plots/
analysis_mva/wandb/
analysis_mva/*.h
analysis_mva/*.root
analysis_mva/*.pkl
*~